services:
  - type: web
    name: easybraille-backend
    env: docker
    plan: free
    healthCheckPath: /
    envVars:
      - key: PYTHON_VERSION
        value: 3.10
      - key: FLASK_ENV
        value: production
      - key: PYTHONUNBUFFERED
        value: 1
